<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
</head>
<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript">
    (function ($) {
        $('#begin-to-crawl').on('click', function (e) {
            e.preventDefault();
            let link = $('#link').val();

            $.ajax({
                url: "/crawl/" + link,
                method: "POST",
                dataType: 'json',
                success: function (msg) {
                    if (!msg.badResponse) {
                        let html = '';
                        $('#links tbody').html('');
                        for(key in msg) {
                            let url = msg[key].url;
                            let status = msg[key].status;
                            html += '<tr>'+
                            '<td>'+(++key)+'</td>'+
                            '<td>'+url+'</td>'+
                            '<td>'+status+'</td>'+
                            '</tr>';
                        }
                        $('#links').show();
                        $('#links tbody').append(html);
                    } else {
                        var $toastContent = $('<span>' + msg.badResponse + '</span>');
                        Materialize.toast($toastContent, 5000, 'col s4 offset-s5');
                    }
                }
            });
        });
    })(jQuery);
</script>
</body>
</html>